{% comment %} String {% endcomment %}
{%- assign my_string = 'Hello World' -%}
{{- my_string -}}

{% comment %} Number {% endcomment %}
{%- assign my_number = 123 -%}
{%- assign my_float_number = 12.5 -%}
{{- my_number -}}
, {{ my_float_number }}

{% comment %} Boolean {% endcomment %}
{%- assign my_boolean = true -%}
{{- my_boolean -}}

{% comment %} nil or null {% endcomment %}
{%- assign my_nil = null -%}
{{- my_nil -}}

{% if undefinedVariable == my_nil %}
  <p>undefinedVariable is equal to nil</p>
{% endif %}

{% comment %} Array {% endcomment %}
{{ product.tags.size }}
{% for tag in product.tags %}
  {{ tag }}
  <br>
{% endfor %}

{% comment %} Object {% endcomment %}
<p>{{ product.title }}</p>

{% comment %} Variable HTML {% endcomment %}
{% capture html %}
  <div>
    <p>Hello {{ product.title }}</p>
  </div>
{% endcapture -%}
{{ html }}

{% comment %} Condicionales {% endcomment %}
{% assign my_variable = 9 %}

{% if my_variable > 10 %}
  <p>Variable mayor de 10</p>
  {% assign my_nested_variable = 20 %}
  <p>{{ my_nested_variable }}</p>
{% elsif my_variable > 5 %}
  <p>Variable mayor de 5</p>
{% else %}
  <p>Variable menor de 10</p>
{% endif %}

{% comment %} contains {% endcomment %}
{% if product.title contains 'Snowboard' %}
  <p>This is snowboard</p>
{% endif %}

{% comment %} las comparaciones se leer de derecha a izquierda {% endcomment %}
{% assign is_snowboard = false %}
{% if product.title contains 'Snowboard' or product.type == 'Snowboard' %}
  {% assign is_snowboard = true %}
{% endif %}

{% if is_snowboard and product.price <= 20000 %}
  <p>Es un snowboard economico</p>
  <p>{{ product.price }}</p>
{% endif %}

{% comment %} no se cumpla condicion {% endcomment %}
{% unless product.tags contains 'Premium' %}
  <p>This product doesn't contains the Premium tag</p>
{% endunless %}

{% comment %} case {% endcomment %}
{% if product.type != blank %}
  {% case product.type %}
    {% when 'Snowboard' %}
      <p>This is a snowboard</p>
    {% when 'T-shirt' %}
      <p>This is a t-shirt</p>
    {% else %}
      <p>No know product type</p>
  {% endcase %}
{% endif %}

{% comment %} bucles {% endcomment %}
{% for product in collection.products limit: 5 offset: 0 %}
  <p style="{% if forloop.first %} color: green {% endif %}">{{ forloop.index }} - {{ product.title }}</p>
  {% if product.tags.size > 0 %}
    <h2>Tags</h2>
    <ul>
      {% for tag in product.tags %}
        {% if tag == 'Snow' %}
          {% continue %}
        {% endif %}
        <li>Product Index: {{ forloop.index }} | Tag: {{ tag }}</li>
        {% if tag == 'Sport' %}
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <p>La coleccion esta vacia</p>
{% endfor %}

{% for i in (10..15) %}
  <p>Hello World {{ i }}, {{ forloop.index }}</p>
{% endfor %}

{% comment %} Paginate {% endcomment %}
{% paginate collection.products by 1 %}
  {% for product in collection.products %}
    <p>{{ product.title }}</p>
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}
